# ==========================================
# CONFIGURACIÓN DEL SISTEMA
# ==========================================

# Variables para Traefik (Docker Compose)
DOMAIN_NAME=ventas.tudominio.com

# Variables para Next.js en Producción (Usadas en runtime si necesitas el dominio)
NEXT_PUBLIC_DOMAIN_NAME=ventas.tudominio.com

# ==========================================
# CONFIGURACIÓN DE SUPABASE
# ==========================================
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
